<!DOCTYPE html>
<html lang="en">
<head>
	<title>Table V04</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../../assets/images/icons/favicon.ico"/>
</head>
<body>
	
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				
				<!-- <div class="table100 ver2 m-b-110"> -->
					
					<!-- <div class="table100-head"> -->
						<a href="#" class="button icon-add solid fa-arrow-circle-right">
							Add Product
						</a>
						<a href="#" class="button-unclick icon solid fa-arrow-circle-right">
							<img src = "../../assets/cart-icon.png" height="50" width="50">{{cart_items}}
						</a>
						<a href="#" class="button-unclick icon solid fa-arrow-circle-right">
							<a href="#" class="button-unclick icon solid fa-arrow-circle-right">
								${{total_price}}
							</a>
						</a>
					<!-- </div> -->
					<!-- <div class="table100-head">
						<table>
							<thead>
							</thead>
						</table>
					</div>

					<div class="table100-body js-pscroll">
						<table>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>

				<div class="table100 ver3 m-b-110">
					<div class="table100-head">
						<table>
							<thead>
							</thead>
						</table>
					</div>

					<div class="table100-body js-pscroll">
						<table>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>

				<div class="table100 ver4 m-b-110">
					<div class="table100-head">
						<table>
							<thead>
							</thead>
						</table>
					</div>

					<div class="table100-body js-pscroll">
						<table>
							<tbody>
							</tbody>
						</table>
					</div> -->
				<!-- </div> -->
				<div class="table100 ver5 m-b-110">
					
					<div class="table100-head">
						<table>
							<thead>
								<tr class="row100 head">
									<th class="cell100 column1">Product #</th>
									<th class="cell100 column2">Product Name</th>
									<th class="cell100 column3">Units per Carton</th>
									<th class="cell100 column4">Carton Price</th>
									<th class="cell100 column5"></th>
								</tr>
							</thead>
						</table>
					</div>

					<div class="table100-body js-pscroll">
						<table>
							<tbody>
								<tr class="row100 head" *ngFor="let product of products; last as l">
									<td class="cell100 column1">{{product.productId}}</td>
									<td class="cell100 column2">{{product.productName}}</td>
									<td class="cell100 column3">{{product.cartonUnits}}</td>
									<td class="cell100 column4">{{product.cartonPrice}}</td>
									<td class="cell100 column5"><a class="button large icon solid fa-arrow-circle-right" (click)="onAddToCart(product, 'carton')">Add Carton ({{carton_items}})</a></td>
									<td><a class="button large icon solid fa-arrow-circle-right" (click)="onAddToCart(product, 'unit')" >Add Unit ({{unit_items}})</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--===============================================================================================-->	
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});
			
		
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>