<!DOCTYPE html>
<html lang="en">
<head>
	<title>Table V04</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../../assets/images/icons/favicon.ico"/>
</head>
<body>
	
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				
				<!-- <div class="table100 ver2 m-b-110"> -->
					
					<!-- <div class="table100-head"> -->
						<a href="#" class="button icon-add solid fa-arrow-circle-right">
							
						</a>
						<a href="#" class="button-unclick icon solid fa-arrow-circle-right">
							<img src = "../../assets/cart-icon.png" height="50" width="50">
						</a>
						<a href="#" class="button-unclick icon solid fa-arrow-circle-right">
							<a href="#" class="button-unclick icon solid fa-arrow-circle-right">
								{{total_price | number : '1.2-2'}}
							</a>
						</a>
				<div class="table100 ver5 m-b-110">
					
					<!-- <div class="table100-head">
						<table>
							
						</table>
					</div> -->

					<div class="table100-body js-pscroll">
						<table>
							<thead>
								<tr class="row100 head">
									<th>Product #</th>
									<th>Product Name</th>
									<th>Units per Carton</th>
									<th>Carton Price</th>
									<th></th>
									<th></th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr class="row100 head" *ngFor="let product of products; last as l">
									<td>{{product.id}}</td>
									<td>{{product.productName}}</td>
									<td>{{product.unitsPerCarton}}</td>
									<td>{{product.cartonPrice | number : '1.2-2'}}</td>
									<td><input [(ngModel)]="product.units" type="number" > units</td>
									<td><a class="button large icon solid fa-arrow-circle-right" (click)="onAddToCart(product)" >Add to Cart</a></td>
									<td>{{product.price | number : '1.2-2'}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--===============================================================================================-->	
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});
			
		
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>